# Maven & Java
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
*.class
*.jar
*.war
*.ear
target/

# Node & Angular
frontend/devflow-frontend/node_modules/
frontend/devflow-frontend/dist/
frontend/devflow-frontend/.angular/
node_modules/
dist/
.angular/

# IDE Junk
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath

# System Files
.DS_Store
Thumbs.db

# Environmental Secrets & Logs
*.log
.env
.env.*
